@font-face {
  font-family: blenderpro-heavy;
  src: url("../assets/fonts/BlenderPro/BLENDERPRO-HEAVY.TTF");
}

/* In order of component appearance */
.button {
  flex-shrink: 0;
  background-color: #8d4dcd;
  width: max-content;
  height: 3.3rem;
  border-radius: 1.65rem;
  color: #ffffff;
  font-family: "blenderpro-heavy";
  font-size: 1.3rem;
  padding: 0 0.8rem;
  padding-right: 5.5rem;
  padding-left: 1rem;
}

.btnFrame {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.icon {
  width: 2rem;
  filter: invert(100%);
}
