@font-face {
  font-family: blenderpro-heavy;
  src: url("../assets/fonts/BlenderPro/BLENDERPRO-HEAVY.TTF");
}

:root {
  --bg-color: #8d4dcd;
  --font-color: #ffffff;
}

.icon {
  width: 2rem;
  filter: invert(100%);
}

.btnFrame {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.button {
  background-color: var(--bg-color);
  width: max-content;
  height: 3.3rem;
  border-radius: 1.65rem;
  color: var(--font-color);
  font-family: "blenderpro-heavy";
  font-size: 1.3rem;
  padding: 0 0.8rem;
  padding-right: 5.5rem;
  padding-left: 1rem;
}
