@font-face {
  font-family: industry-book;
  src: url("../assets/fonts/Industry/Industry-Book.ttf");
}

@font-face {
  font-family: industry-bold;
  src: url("../assets/fonts/Industry/Industry-Bold.ttf");
}

@font-face {
  font-family: blenderpro-heavy;
  src: url("../assets/fonts/BlenderPro/BLENDERPRO-HEAVY.TTF");
}

.contentContainer {
  background-color: #1f2127;
  height: 50vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentTitle {
  font-family: industry-bold;
  color: #be7dff;
  font-size: 1rem;
  text-align: center;
}

.logoContainer {
  background-color: #131417;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1.7rem;
  gap: 1rem;
}

.logo {
  width: 130px;
  max-width: 200px;
}

.logoText {
  color: #ffffff;
  text-align: center;
  font-family: "industry-book";
  line-height: 1.8rem;
  width: 95%;
  max-width: 560px;
}

.navbar {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.navbarHomeIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5.5rem;
  width: 3.5rem;
}

.navbarHomeIcon img {
  width: 35px;
  /* https://codepen.io/sosuke/pen/Pjoqqp Filter generator for #be7dff */
  filter: invert(52%) sepia(63%) saturate(1727%) hue-rotate(226deg)
    brightness(103%) contrast(101%);
}

.navbarHomeIcon div {
  position: relative;
  color: #be7dff;
  font-family: "blenderpro-heavy";
  font-size: 1rem;
}

.navbarAboutIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5.5rem;
  width: 3.5rem;
}

.navbarAboutIcon img {
  width: 30px;
  /* https://codepen.io/sosuke/pen/Pjoqqp Filter generator for #be7dff */
  filter: invert(52%) sepia(63%) saturate(1727%) hue-rotate(226deg)
    brightness(103%) contrast(101%);
}

.navbarAboutIcon div {
  position: relative;
  color: #be7dff;
  font-family: "blenderpro-heavy";
  font-size: 1rem;
}

.textContainer {
  height: 19rem;
  overflow-y: auto;
}

.textContainer::-webkit-scrollbar {
  width: 0 !important;
}
.textContainer {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
